{% extends 'base.html' %}

{% block content %}

{% if error %}
    {{ error }}
<br />
    <br />
{% endif %}

<h1>Create</h1>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}
Title:
<br />
<input type="text" name="title" />
<br />

Body:
<br />
<input type="textbox" name="body" />
<br />

URL:
<br />
<input type="text" name="url" />
<br />

Icon:
<br />
<input type="file" name="icon" />
<br />

Image:
<br />
<input type="file" name="image" />
<br />


<br />
<input class="btn btn-primary" type="submit" value="Add Product">

</form>
{% endblock %}